# Server Port
PORT=3000

# Environment Mode
NODE_ENV=production

# JWT Authentication Secret
JWT_SECRET=dmg-liveshare-secret-key-2026-auth

# Base URL Path
VITE_BASE_PATH=./

# Google OAuth 2.0 Client ID
VITE_GOOGLE_CLIENT_ID=986855077085-ba6jsg0nkt7s3oj78mersmgqard7usqg.apps.googleusercontent.com
